extends layout

block content
  div(id="header")
    div.container
      div.row
        div.col-xs-2
          img(src="images/twitter.png" class="img img-responsive")
        div.col-xs-6
          h1(id="titulo_view") HashtagTools
        div.col-xs-4
          a(href="/login" class="btn btn-primary btn-lg" style="margin-top:1em") Login con Twitter
