doctype html
html
  head
    title= titulo
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="js/jquery-2.2.0.min.js")
    script(src="js/bootstrap.min.js")
  body
    block content