doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,600')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="/js/jquery-2.2.0.min.js")
    script(src="/js/bootstrap.min.js")
  block content