extends app

block modales 
  #modalSearch.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Nueva Busqueda
          |       
          .modal-body
            | ...
          |       
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            |         
            button.btn.btn-primary(type='button') Save changes