
@media (max-width: 750px) {
  #titulo_view {
    font-size:1.5em !important;
  }
  }

html,body{
	margin:0;
	padding: 0;
	width: 100%;
	height:100%;
}
a {
  color: #00B7FF;
}

body{
	/*background: url('/img/planeta.jpg') !important;*/
	background: url('/img/twitter_logo_bg.jpg') no-repeat;
	background-attachment:fixed;
}

#buscador_global:focus{
	background: rgba(255,255,255,0.8) !important;
}

.inner-addon { 
	position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#header{
	width: 100%;
	padding: 1em;
	background: rgba(85, 172, 238, 0.95);
}

#titulo_view{
	color:rgba(255,255,255,1);
}

#fishtweet{
	width:100%;
	background: #3b89c3;
	border:1px solid rgba(0,0,0,0.1);
	padding: 1.6em;
	font-size:1.6em;
	-webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
}

#fishtweet:focus{
	color:#001;
	background:rgba(255,255,255,1);
}

